{% extends 'common/base.html'%}

{% block content %}
{% block title %} <title>회원 가입 페이지</title> {% endblock %}
{% block css%}
<style>
    .registration {
        width: 480px;
        margin: 0 auto;
    }
    p {
        text-align: center;
    }
    label {
        width: 50%;
        text-align: left;
    }
    .control-label {
        width: 100%;
    }
    .registration .form-actions > button {
        width: 100%;
    }
    input {
        width:70%
    }
</style>
{% endblock css%}
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
<!--    {% if messages %}-->
<!--        {% for message in messages %}-->
<!--        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">-->
<!--          {{ message }}-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    {% endif %}-->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
      <div class="container">
        <div class="card card-default registration">
    <div class="card-header">
        회원 탈퇴
    </div>
    <div class="card-body">
        <form method="POST" novalidate>
    {% csrf_token %}
    <p><strong>{{ user.user_id }}</strong> 회원님의 계정이 삭제됩니다.<br>탈퇴시 개인정보 및 이용정보가 삭제되며 복구할 수 없습니다. <br>본인의 비밀번호를 입력한 후 하단의 유의사항 동의에 체크하세요.</p>
    <div>
        <label name="label_password" for="{{ password_form.password.id_for_label }}">{{ password_form.password.label }}</label>
        {{ password_form.password }}
        {% if password_form.password.errors %}
        <script type="text/javascript">
            document.getElementsByName('password')[0].setAttribute('class', 'form-control is-invalid')
        </script>
        {% for error in password_form.password.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
        <small>
            본인인증을 위해 비밀번호를 입력해주세요.
        </small>
    </div>

    <label>
        <input type="checkbox" name="ck" onClick="checkDisable(this.form)">
        <span>유의사항 동의</span>
    </label>

    <button type="submit" name="bt" disabled="true" >탈퇴하기</button>
</form>


        <div>

        </div>
    </div>

</div>

      </div>
    </section><!-- End Portfolio Details Section -->
  </main><!-- End #main -->
<script type="text/javascript">
    function checkDisable(form) {
        if (form.ck.checked == true) {
            form.bt.disabled = false;
        } else {
            form.bt.disabled = true;
        }
    }
</script>
{% endblock content %}